unrar-cffi
wheel
python-logstash
gunicorn
kafka-python
chardet
baostock
async-timeout
thrift
pyquery
dnspython
Flask_Migrate
coverage
bs4
itsdangerous
pysocks
Werkzeug
pathlib2
nose
zipp
pymongo
psycopg2-binary
logstash_formatter
PyMySQL
urllib3
python-logstash-async
gevent
xlsxwriter
mongoengine
phone
click
rednose
eventlet
func_timeout
simplejson
PyHive
msgpack
concurrent-log-handler
watchdog
docker
requests[socks]
openpyxl
pymysql
flask
lxml
pandas
python-dateutil
pytest
numpy
SQLAlchemy
rarfile
bcrypt
greenlet
xlrd
demjson3
tushare
psutil
arrow
tornado
setuptools
pycryptodome
wrapt
twine
sqlparse
six
orjson
requests>=2.27.1
elasticsearch_dsl>=6.1
PyMySQL>=0.9.3
mysql-connector-python>=8.0.27
redis>=3.2.1
DBUtils>=2.0
elasticsearch>=6.1.1
diskcache
tomorrow3
clickhouse_driver
zip-files
# unrar-cffi
paramiko
python-magic
pyftpdlib
pysnooper
walrus
universal_object_pool
requests-ftp
webdriver_manager
auto_run_on_remote
pika>=1.2.0
# http-parser
aiohttp
PySnooper>=1.0.0
decorator>=5.1.0
cssselect>=1.1.0
pyquery>=1.4.3
future>=0.18.1
PyHive>=0.6.3
pyftpdlib>=1.5.5
pycryptodome>=3.11.0
nb_http_client
clipboard
sqlalchemy>=1.4.22
sqlalchemy-utils>=0.37.9
biplist