python-logstash
gunicorn
kafka-python
chardet
baostock
flask_socketio
async-timeout
thrift
pyquery
dnspython
Flask_Migrate
coverage
bs4
itsdangerous
pysocks
Werkzeug
pathlib2
nose
zipp
pymongo
psycopg2-binary
Flask_login
logstash_formatter
PyMySQL
urllib3
Flask_Cache
python-logstash-async
gevent
xlsxwriter
mongoengine
phone
Flask_Cors
click
Flask
rednose
eventlet
func_timeout
simplejson
PyHive
cryptg
msgpack
concurrent-log-handler
Flask-Migrate
watchdog
docker
requests[socks]
openpyxl
pymysql
flask
lxml
pandas
python-dateutil
pytest
numpy
SQLAlchemy
Flask_SQLAlchemy
Flask_Script
rarfile
bcrypt
greenlet
xlrd
PySocks
demjson
tushare
psutil
arrow
tornado
flask_mongoengine
celery
flask_sqlalchemy
setuptools
pycryptodome
wrapt
twine
six
requests>=2.22.0
elasticsearch_dsl>=6.1
PyMySQL>=1.0.2
mysql-connector-python>=8.0.6
redis>=3.2.1
DBUtils>=2.0
elasticsearch>=6.1.1
wheel
sqlparse
diskcache
tomorrow3
clickhouse_driver
# supervisor
# flask_mongoengine install error need 3 pkg
# mysql
# pymongo==3.2  # pymongo.errors.ConfigurationError: Server at 127.0.0.1:27017 reports wire version 0, but this version of PyMongo requires at least 2 (MongoDB 2.6).
# blob utf8 decode error
# sasl
# gevent
# pymongo
# mysql-connector
# pycrypto
# DBUtils==1.3 No module named 'DBUtils'
# mysqlclient
# thrift-sasl
# mysql-connector>=2.1.7
# requests==2.2.1
# requests
